@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Norican&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

@media (max-width: 576px) {
  footer {
    flex-direction: column;
  }
  .footer-brand {
    margin: 1rem;
  }
}

* {
  box-sizing: border-box;
}

#footer {
  font-family: 'Roboto Slab', serif;
}

.ci {
  height: 700px !important;
}

.navbar-brand {
  margin-left: 1rem;
  text-align: center;
  font-family: 'Great Vibes', cursive;
  font-size: 40px !important;
  color: rgb(255, 213, 44) !important;
  font-weight: 500;
	-webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: rgba(1, 26, 255, 0.737);
}

.nav-item:hover {
  font-size: 1.2rem;
  font-style: italic;
}

.navbar-nav {
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
}

.dropdown-item:hover {
  font-size: 1.2rem;
  font-style: italic;
  background-color: #0d6efd !important;
}


.card-header, .card-title {
  font-family: 'Playfair Display', serif;
  text-decoration: underline;
}

.card-header, .card-footer {
  background-color: rgb(88, 15, 15) !important;
}

.card-text, .card-body, .card-footer {
  font-family: 'Courgette', cursive;
}


h1, h2, h3, .card-title {
  text-align: center !important;
  font-family: 'Courgette', cursive !important;
  color: rgb(255, 213, 44) !important;
  text-decoration: none !important;
}

pre {
  color: white;
  font-size: 1rem;
}

small {
  font-size: 0.5rem;
}

.nav-item {
  text-align: center;
}

.card-title, .card-footer, .card-header, .blockquote-footer {
  text-align: center;
  justify-content: center;
}

.gallery-header {
  margin-top: 1rem;
}

.blockquote-footer {
  text-indent: 40px;
}

.footer-image {
  border-radius: 50%;
}